@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game {
  display: block;
  width: 100%;
  height: 100%;
}

p {
  color: #5c4534;
}
